* {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #eee;
}

footer {
    text-align: center;
}

nav {
    background-color: #778899;
    width: 100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #0fff00;
}

.color-red {
    color: red;
}

.color-black {
    color: black;
}

.color-blue {
    color: blue;
}

.console {
    background-color: #fff;
    overflow: scroll;
    height: 300px;
}

.console-options {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.container {
    min-width: 400px;
    margin: 0px 25px;
}

.container-flex {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.flex-item {
    background-color: #c4c4c4;
    width: 100%;
    margin: 20px 10px;
    border: 2px solid;
    border-radius: 15px;
}

.flex-item-title{
    padding-top: 10px;
    font-size: 1.2em;
}

.flex-100 {
    flex: 100%;
}

.game-table {
    border-collapse: collapse;
    width: 90%;
    margin: 5%;
}

.game-table th, .game-table td {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #739ab9;
}

.game-table th {
    background-color: #4682B4;
    color: white;
}

.m-top-10px {
    margin-top: 10px;
}

.smooth-input {
    padding: 5px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.smooth-button {
    border-radius: 5px;
    background-color: #778899;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

@media (max-width: 800px) {
    .container-flex {
        flex-direction: column;
    }
}